* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #f1e6e6;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #430349;
  padding: 15px 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 40px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #d400ff;
}

section {
  min-height: 100vh;
  padding: 120px 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home {
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #270f25, #432040, #5f2c64);
}

.perfil {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #e100ff;
  margin-bottom: 20px;
}

.home h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.home h1 span {
  color: #e100ff;
}

.home p {
  font-size: 18px;
  margin-bottom: 20px;
}

.skills {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills span {
  background: #e100ff;
  color: #000;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.sobre {
  background: #f1e6e6;
  text-align: center;
}

.sobre h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color:#e100ff
}

.sobre p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.6;
  color:#5f2c64
}

.projetos {
  background:#432040;
  text-align: center;

}

.projetos h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

.projetos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  display: flex;
  justify-content: center;
}

.projeto {
  background:#974a9e;
  opacity: 0.2;
  border-radius: 10px;
  padding: 15px;
  transition: 0.3s;
  width: 350px;
  
}

.projeto:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.projeto img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #333;
}

.projeto h3 {
  margin-bottom: 5px;
}

.projeto p {
  font-size: 14px;
  color: #ffffff;
}

.contato {
  background: #f1e6e6;
}

.contato h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color:#e100ff
}

.contato p {
  max-width: 800px;
  
  font-size: 18px;
  line-height: 1.6;
  color:#5f2c64
}

footer {
  text-align: center;
  padding: 20px;
  background: #330033;
  color: #fff3f3;
}